{
  "*.{js,jsx,ts,tsx,vue,css,scss,pcss,html,md}": [
    "prettier --write"
  ],
  "{!(package)*.json,*.code-snippets,.!(browserslist|npm)*rc}": [
    "prettier --write --parser json"
  ],
  "package.json": [
    "prettier --write"
  ]
}
